.Content {
  overflow: hidden;
  overflow-x: hidden;
}

.NewsList__list {
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2em;
  padding-right: 40px;
}

@media only screen and (max-width: 600px) {
  .NewsList__list {
    grid-template-columns: 100%;
  }
}

.NewsList__item {
  transition: all .4s ease-in-out;
}

.NewsList__item:hover {
  transform: scale(1.04);
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  background: #085965;
  height: 50px;
}

.header {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
