.NewsProfile__title {
    text-align: center;
}

.NewsProfile__image {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.NewsProfile {
    cursor: pointer;
}