.NewsProfile__title {
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
}

.NewsProfile__image {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.NewsProfile {
    text-align: center;
    margin: 5px;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

.NewsProfile__title {
    font-size: 20px;
    font-weight: 700;
}

.NewsContent {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.NewsContent__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

@media only screen and (max-width: 700px) {
    .NewsContent__image {
      width: 300px;
      height: 150px;
    }
  }

.Content_description {
    margin: 10px;
    font-size: 16px;
}

.NewsContent__title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 20px;
    padding-top: 40px;
}