.NewsProfile__title {
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
}

.NewsProfile__image {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.NewsContent {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}


#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
