.CommentContainer {
    margin: 20px;
}

.Comment {
    background-color: rgb(230, 223, 223);
    margin-top: 10px;
    border: 5px black;
    display: table;
}

.CommentBox {
    margin-bottom: 20px;
}

.CommentEmail {
    font-size: 12px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 8px;
}

.CommentContent {
    margin-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 5px;
    font-size: 16px;
}

.CommentHeader {
    margin-bottom: 10px;
    font-size: 20px;
}